body{
    margin: 0px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


/** DIV STYLING **/

.navbar{
    height: 80px;
    background-color: transparent;
    position:absolute;
    width: 98vw;
}

    #logotype{
        float: left;
        font-weight: bold;
        font-size: 250%;
        padding-left: 50px; padding-top:35px;
    }
    
    #navlinks_container{
        float:right;
        padding-right: 50px; padding-top: 50px;
        text-transform: uppercase;
    }
    
    #navlinks_container a{
        text-decoration: none;
        color: #1e1e1e;
        padding-left: 25px; padding-right:25px;
        color: white;
    }

.hero_image{
    height:650px;
    background-image: url('img/kitchen-dark.jpg');
    background-size: cover;
    border-bottom: thick solid 	#A9AAAC;
}

.hero_image.menu_header{
    height:450px;
    background-image: url('img/plated_dinner.jpg');
    background-size: cover;
    border-bottom: thick solid 	#A9AAAC;
}

    #header_text{
        padding-top: 175px;
        padding-left:10vw;
        max-width: 650px;
        color: white;
    }
    
    #header_text h1{
        font-size: 300%;
        margin-top: 5px; margin-bottom: 5px;
        font-weight: bold;
        color: white;
    }
    
    #header_text h2{
        font-size: 225%;
        margin-bottom: 0px;
        color: white;
    }
    
    .button{
        background-color: #c74735;
        color: white;
        width: 225px;
        text-align: center;
        margin-top: 25px;
        border-radius: 5px;
        padding-left: 10px; padding-right:10px;
        padding-top: 15px; padding-bottom:15px;
        text-transform: uppercase;
        font-size: 115%;
        font-weight: bold;
    }
    
.features_container{
    position: absolute;
    width: 100%;
    top: 500px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

    .feature{
        width: 30%;
        margin: 1%;
        background-color: white;
        box-shadow: 0px 0px 10px #888888;
        text-align: left;
        vertical-align:top;
    }
    
    #feature_image1{
        height: 220px;
        margin: 15px;
        background-image: url('img/pizza.jpg');
        background-size: cover;
    }
    
    #feature_image2{
        height: 220px;
        margin: 15px;
        background-image: url('img/cocktail.jpeg');
        background-size: cover;
    }
    
    #feature_image3{
        height: 220px;
        margin: 15px;
        background-image: url('img/events.jpg');
        background-size: cover;
    }
    
    .feature_content{
        margin: 15px;
        margin-bottom: 40px;
        margin-right: 25px;
        font-family: 'Arial', sans-serif;
        text-align: justify;
    }
    
    .feature_content h1{
        font-weight: normal;
        margin-bottom: 5px;
    }
    
    .feature_content h2{
        font-weight: normal;
        margin-top: 0px;
        font-size: 100%;
    }
    
    .feature_content p{
        font-weight: normal;
        line-height: 25px;
    }
    
.main_content_container{
    padding-top: 375px;
    display:flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
}

    .photo_container{
        border-style: inset;
        margin: 25px;
    }
    
    .main_content_photo{
        height: 500px;
        width: 41vw;
        margin:15px;
    }
    
    .main_content{
        margin: 25px;
        width: 43.2vw;
        vertical-align: top;
        text-align: left;
        position: relative;
    }
    
    .main_content h1{
        font-size: 300%;
        margin-top: 0px; margin-bottom: 0px;
    }
    
    .main_content h2{
        font-size: 200%;
        margin-top: 10px; 
    }
    
    .main_content p{
        line-height: 30px;
        font-size: 115%;
        font-weight: bold;
        width: 30vw;
        text-align:justify;
    }
    
    .main_content .button{
        margin-top: 100px;
    }
    
     .footer{
        width: 92.4vw;
        border-top: thick solid black;
        height: 100px;
        margin-left: 3vw; 
        padding-top:25px;
        font-size: 90%;
    }
    
    .footer_left{
        float: left;
        
    }
    
    .footer_middle{
        float: left;
        padding-left: 15px; padding-right: 15px;
    }
    
    .footer_right{
        float: right;
    }
    
.menu_container{
    display: flex;
    justify-content: space-around;
    border: thin solid gray;
    margin-left: 3vw; margin-right: 3vw;
    background-color: #f6f6f6;
}
    
.menu_col{
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin-top: 25px; margin-bottom: 25px;
}

    .menu_col h1{
        font-size: 25px;
        display: inline;
    }
    
    .menu_col h2{
        font-size: 15px;
        font-weight: 100;
    }


.menu_header_text{
    text-align: center;
}
    
/** END DIV STYLING **/